html {
  font-family: Overpass, sans-serif;
  color: #fff;
  background-color: #ff9500;
}

body {
  background-image: linear-gradient(to top, #ff5e3a, rgba(16, 52, 41, 0));
}

.btn-ghost {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  color: #ff9500;
  border-color: #fff;
  background-color: #fff;
}

.card {
  border-bottom: 3px solid rgba(255, 255, 255, .3);
}

.card:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 60em) {
  .card {
    border-left: 3px solid rgba(255, 255, 255, .3);
    border-bottom: none;
  }

  .card:last-child {
    border-left: 3px solid rgba(255, 255, 255, .3);
    border-bottom: none;
  }
}
